@model VehicleDriversViewModel

@section title {
    @if (Model != null)
    {
        <h3>Editing @Model.VehicleDriver.Driver.Name for @Model.VehicleDriver?.Vehicle?.VehicleModel</h3>
    }

}
@if (Model != null)
{
    <partial name="_VehicleDrivers" model="@Model" />
}