@model List<Driver>
@section title {
    <h3>Drivers</h3>
}


@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">License Number</th>
                <th scope="col">Number Of drivers</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var driver in Model)
            {
                <tr>
                    <td>@driver.Name</td>
                    <td>@driver.LicenseNumber</td>
                    <td></td>
                    <td><a class="btn btn-link" asp-controller="drivers" asp-action="edit" asp-route-id="@driver.DriverId">Edit</a></td>
                    <td><a class="btn btn-link" asp-controller="drivers" asp-action="delete" asp-route-id="@driver.DriverId" onclick="return confirmDelete()">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
<a class="btn btn-primary" asp-controller="drivers" asp-action="add">Add</a>

@section Scripts {
    <script>
        function confirmDelete(){
            return confirm("Are you sure you want to delete this driver?")
        }
    </script>
}

